/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F5FD;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #fefaf3;
    box-shadow: 0 4px 8px #f0c36d;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 32px;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Content Styles */
.content {
    text-align: left;
    line-height: 1.6;
}

.content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.content li {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Button Group */
.button-group {
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.back-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.back-button:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.back-button:active {
    transform: translateY(2px);
    background-color: #004080;
}
